<%- include ../partials/header.ejs %>

<% include ../partials/main_nav.ejs %>

  <main class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-10">
        <h1><%= title %></h1>
        <a href="/contact-list/add" class = "btn btn-primary" role="button">
          Add a Contact
        </a>
        <br>
        <table class="table table-bordered table-striped table-hover">
          <!-- Header Row -->
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Number</th>
            <th class="text-center">Email</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
          </tr>
          
          <!-- Repeatable Template Row -->

          <% for(var count = 0; count < ContactList.length; count++){ %>
            <tr>
              <td class = "text-center"><%= ContactList[count].name %></td>
              <td class = "text-center"><%= ContactList[count].number %></td>
              <td class = "text-center"><%= ContactList[count].email %></td>
              <td class="text-center">
                <a href="/contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary">
                  Edit
                </a>
              </td>
              <td class="text-center">
                <a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger">
                Delete
                </a>
              </td>
            </tr>
          <% } %>
        </table>  
      </div>
    </div>
  </main>

  <% include ../partials/bottom_nav.ejs %>

  <% include ../partials/footer.ejs %>